process {
    withName: FLYE {
        ext.args = {
            [
                meta.genome_size ? "--genome-size ${meta.genome_size}" : '',
                // If flye is both for ONT and HiFi, we need to detect the type of read based on the read suffix (fastplong)
                // This is presumably prone to fail in certain weird situations, for example if an input is grossly misnamed.
                // Below attempts to detect which type of assembly is done for this sample and provide the correct set of args.
                // If strategy is scaffold, checks which reads are currently incoming, based on the formatting created by fastplong (ie suffix _ont or _hifi).
                //  -> If those are ONT reads, use ont args; if those are hifi, use hifi args.
                // If the reads are not ONT, and the assembler for hifi reads is flye, we use the hifi_args.
                (meta.assembler_ont == "flye" && meta.assembler_hifi == "flye" && strategy == "scaffold") ?
                    (reads ==~ ".*${meta.id}_ont.*" ? meta.assembler_ont_args : meta.assembler_hifi_args) :
                        (meta.assembler_ont == "flye") ? meta.assembler_ont_args : "",
                (meta.assembler_hifi == "flye") ? meta.assembler_hifi_args : "",
                meta.flye_args
            ].join(" ").trim()
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/flye/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.matches("${prefix}.assembly.fasta") ? null : filename }
        ]
        errorStrategy = {
            def logflye = task.workDir.resolve(".command.err").readLines()
            logflye.any { line -> line.contains("ERROR: Looks like the system ran out of memory") } ? 'retry' : 'finish'
        }
    }
    withName: '.*BGZIP_FLYE.*' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/flye/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: HIFIASM {
        ext.args = { [ meta.assembler_hifi_args, meta.hifiasm_args ].join(" ").trim() }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/hifiasm/" },
            mode: params.publish_dir_mode
        ]
        // Override time from process_high with long time for hybrid assembly
        time = {
            meta.strategy == "hybrid" ? 48.h * task.attempt : 16.h * task.attempt
        }
    }
    withName: HIFIASM_ONT {
        ext.args = { [ meta.assembler_ont_args, meta.hifiasm_args, "--ont" ].join(" ").trim() }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/hifiasm_ont/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: GFA_2_FA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/hifiasm/fasta" },
            mode: params.publish_dir_mode,
            saveAs: null
        ]
    }
    withName: GFA_2_FA_HIFI {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/hifiasm/fasta" },
            mode: params.publish_dir_mode,
            saveAs: null
        ]
    }
    withName: BGZIP_HIFI {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/hifiasm/fasta" },
            mode: params.publish_dir_mode
        ]
    }
    withName: BGZIP_ONT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/hifiasm_ont/fasta" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*ASSEMBLE:.*BZIP_RAGTAG.*' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/ragtag/" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_assembly_patch" }
    }

    withName: '.*ASSEMBLE:.*RAGTAG_PATCH' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/ragtag/" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_assembly_patch" }
    }
}
