process {
    withLabel: fhr {
        cpus = 1
        memory = '2 GB'
        time = '1 h'
        container = params.fhr_container
        conda = "${projectDir}/modules/local/fhr/environment.yml"
        // Intermediate metadata and decompressed files stay in the work directory.
        publishDir = []
    }
    withName: '.*FHR_EXPORT:FHR_WRITE_JSON' {
        publishDir = []
    }
    withName: '.*FHR_EXPORT:FHR_FINALIZE' {
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/fhr/${meta.stage}" },
            mode: params.publish_dir_mode,
            pattern: '*.fhr.{fasta,yaml}'
        ]
    }
}
