process {
    withName: FASTPLONG_HIFI {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/fastplong/hifi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            [
                meta.trim ? "-A" : '',
                meta.hifi_fastplong_args
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}_hifi" }
    }
    withName: TO_FASTQ {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/lima/fastq/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
