process {
    withName: '.*ASSEMBLE:.*LIFTOFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_assembly" }
    }
    withName: '.*PILON:.*LIFTOFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/polish/pilon/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_pilon" }
    }
    withName: '.*MEDAKA:.*LIFTOFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/polish/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_medaka" }
    }
    withName: '.*RAGTAG:.*LIFTOFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/scaffold/ragtag/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_ragtag" }
    }
    withName: '.*LONGSTITCH:.*LIFTOFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/scaffold/longstitch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_longstitch" }
    }
    withName: '.*LINKS:.*LIFTOFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/scaffold/links" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_links" }
    }
}
