process {
    withName: COLLECT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/collect" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTPLONG_ONT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/fastplong/ont/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            [
                meta.trim ? "-A" : '',
                meta.ont_fastplong_args
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}_ont" }
    }
}
