process {
    withName: NANOQ {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/nanoq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: COLLECT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/collect" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PORECHOP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/porechop" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
