process {
    withName: MEDAKA {
        ext.args1 = { } // args mini_align
        ext.args2 = { [params.medaka_model ? "--model ${params.medaka_model}" : ''].join(" ").trim() } // args medaka_inference
        ext.args3 = {  } // args medaka sequence
        ext.prefix = { "${meta.id}_medaka" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/polish/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // Pilon mapping
    withName: '.*PILON:MAP_SR.*' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/alignments/shortreads/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_shortreads" }
        ext.args = { "-ax sr " }
    }
    withName: PILON {
        ext.prefix = { "${meta.id}_pilon" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/polish/pilon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
