process {
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/fastp" },
            mode: params.publish_dir_mode
        ]
    }
}

process {
    withName: FASTP_HIC {
        ext.prefix = {"${meta.id}_hicreads"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hic_reads/fastp" },
            mode: params.publish_dir_mode
        ]
    }
}

process {
    withName: FASTPLONG_HIFI {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/fastplong/hifi/" },
            mode: params.publish_dir_mode
        ]
        ext.args = {
            [
                meta.hifi_fastplong_args
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}_hifi" }
    }
    withName: TO_FASTQ {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/lima/fastq/" },
            mode: params.publish_dir_mode
        ]
    }
}

process {
    withName: COLLECT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/collect" },
            mode: params.publish_dir_mode
        ]
    }
    withName: FASTPLONG_ONT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/fastplong/ont/" },
            mode: params.publish_dir_mode
        ]
        ext.args = {
            [
                meta.ont_fastplong_args
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}_ont" }
    }
}
