process {
    withName: '.*SCAFFOLD:.*RAGTAG_SCAFFOLD' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/scaffold/ragtag/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_ragtag" }
        ext.args   = [
                "-C",
                "-u",
                "-r",
                "-w"
            ].join(" ").trim()
    }
    withName: LINKS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/scaffold/links/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_links" }
        ext.args = ["-t 40,200", "-d 500,2000,5000"].join(" ").trim()
    }
    withName: LONGSTITCH {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/scaffold/longstitch/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_longstitch" }
    }
}
