process.resourceLimits = [cpus: 1, memory: '2 GB', time: '10 min']
process {
    withName: FASTPLONG_HIFI {
        afterScript = 'for report in *.json; do echo \'{"summary":{"after_filtering":{"read_mean_length":8}}}\' > "$report"; done'
    }
    withName: MERYL_UNIONSUM {
        afterScript = { "echo '${meta.id}' > '${meta.id}.unionsum.meryl'" }
    }
    withName: MERQURY {
        // Fail if a haplotype receives the other source sample's database.
        afterScript = { "test \"\$(cat *.meryl)\" = '${meta.source_sample}' && for report in *.completeness.stats; do echo '${meta.source_sample}' > \"\$report\"; done" }
    }
}
