email_template.html
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
bin/
.nf-test/
ro-crate-metadata.json
modules/nf-core/
subworkflows/nf-core/
*.svg
tests/
nf-core-genomeassembler_logo_dark.svg
