profiles {
    charliecloud { includeConfig 'configs/charliecloud.config' }
    docker       { includeConfig 'configs/docker.config'       }
    singularity  { includeConfig 'configs/singularity.config'  }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    lrz_cm2      { includeConfig 'configs/lrz_cm2.config'      }
    lrz          { includeConfig 'configs/lrz.config'          }
    local        { executor.name = 'local'                     }
    ont_on_hifi  { includeConfig 'configs/ont_on_hifi.config'  }
    hifiasm_ul   { includeConfig 'configs/hifiasm_ul.config'   }
    hifi_only    { includeConfig 'configs/hifi_only.config'    }
}
