process { withName: 'FASTQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f2/f20b021476d1d87658820f971ebecc1e8cdbde0f338eb0d9cea2b0a8fc54a54b/data' } }
process { withName: 'REPORT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bf/bfe93e1b53e41d2de7d9119a029a590a003fb2f335d26ef94c2b077bf026873b/data' } }
