process { withName: 'BUSCO_BUSCO' { conda = 'modules/nf-core/busco/busco/.conda-lock/linux_amd64-bd-6d1f7006d91892b3_1.txt' } }
process { withName: 'FASTP' { conda = 'modules/nf-core/fastp/.conda-lock/linux_amd64-bd-4df8d6c11b471bde_1.txt' } }
process { withName: 'FASTQC' { conda = 'modules/nf-core/fastqc/.conda-lock/linux_amd64-bd-5cb1a2fa2f18c7c2_1.txt' } }
process { withName: 'PICARD_MARKDUPLICATES' { conda = 'modules/nf-core/picard/markduplicates/.conda-lock/linux_amd64-bd-842d4c70c98af9b4_1.txt' } }
process { withName: 'REPORT' { conda = 'modules/local/report/.conda-lock/linux_amd64-bd-833048f01b6491fc_1.txt' } }
