/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // General catch-all
    publishDir = [
        path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Read preparation
includeConfig 'modules/ont-prep.config'
includeConfig 'modules/hifi-prep.config'
includeConfig 'modules/trimgalore.config'

// Assembly
includeConfig 'modules/assembly.config'

// Polishing
includeConfig 'modules/polishing.config'

// Scaffolding
includeConfig 'modules/scaffolding.config'

// Annotation liftoff
includeConfig 'modules/liftoff.config'

// QC
// BUSCO
includeConfig 'modules/QC/busco.config'
// QUAST
includeConfig 'modules/QC/quast.config'
// merqury
includeConfig 'modules/QC/merqury.config'
// alignments
includeConfig 'modules/QC/alignments.config'
// Meryl
includeConfig 'modules/QC/meryl.config'
// Jellyfish, Genomescope
includeConfig 'modules/QC/jellyfish-genomescope.config'

// Report
includeConfig 'modules/report.config'
