/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomeassembler -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: '.*:ASSEMBLE:.*:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/BUSCO/assemble" },
        ]
    }
    withName: '.*PILON:.*:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/BUSCO/pilon" },
        ]
    }
    withName: '.*MEDAKA:.*:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/BUSCO/medaka" },
        ]
    }
    withName: '.*LINKS:.*:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/BUSCO/links" },
        ]
    }
    withName: '.*LONGSTITCH:.*:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/BUSCO/longstitch" },
        ]
    }
    // avoid catching ragtag from ont_on_hifi assembly
    withName: '.*:SCAFFOLD:.*RAGTAG:.*:BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/BUSCO/ragtag" },
        ]
    }

}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/genomeassembler/samplesheet/full_test_samplesheet.csv'
    ont = true
    hifi = true
    quast = true
    busco = true // needs DB
    jellyfish = true
    genome_size = 2000000
    assembler = "flye_on_hifiasm"
    polish_medaka = true
    polish_pilon = true
    scaffold_links = true
    scaffold_longstitch = true
    scaffold_ragtag = true
    short_reads = true
    merqury = true
}
