/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/genomeassembler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'
    input                       = "${params.pipelines_testdata_base_path}/samplesheet/test_samplesheet_v2.csv"
    ontreads                    = "${params.pipelines_testdata_base_path}/A_thaliana_Col-0_2mb/ONT-Col-0_test_data.fastq.gz"
    hifireads                   = "${params.pipelines_testdata_base_path}/A_thaliana_Col-0_2mb/HiFi-Col-0_test_data.fastq.gz"
    hic_F                       = "${params.pipelines_testdata_base_path}/A_thaliana_Col-0_2mb/SRR22354810_1.sampled.fq.gz"
    hic_R                       = "${params.pipelines_testdata_base_path}/A_thaliana_Col-0_2mb/SRR22354810_2.sampled.fq.gz"
    ref_fasta                   = "${params.pipelines_testdata_base_path}/A_thaliana_Col-0_2mb/Col-CEN_v1.2.Chr1_5MB-7MB.fasta.gz"
    ref_gff                     = "${params.pipelines_testdata_base_path}/A_thaliana_Col-0_2mb/Col-CEN_v1.2_genes_araport11.Chr1_5MB-7MB.gff3.gz"
    genome_size                 = "2000000"
    hifiasm_args                = "-f 0"
    hic_trim                    = true
}
