/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomeassembler -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

/*
Notes on this test:
    There are 10 samples in the samplesheet.
    Of these, 4 are "single" assembler strategy, and these are grouped
        During read-prep this group becomes 1 sample
        All prep steps should be 7 processes total (6 ungrouped + group)
        These should be visible as a group in the report.
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input               = 'https://raw.githubusercontent.com/nf-core/test-datasets/genomeassembler/samplesheet/full_test_samplesheet_v2.csv'
    ontreads            = 's3://nf-core-awsmegatests/genomeassembler/input/Col_0.ONT.porechopped.fastq.gz'
    hifireads           = 's3://nf-core-awsmegatests/genomeassembler/input/Col_0.hifi_reads.fastq.gz'
    shortread_F         = 's3://nf-core-awsmegatests/genomeassembler/input/SRR1604937_1.fastq.gz'
    shortread_R         = 's3://nf-core-awsmegatests/genomeassembler/input/SRR1604937_2.fastq.gz'
    ref_gff             = 'http://raw.githubusercontent.com/schatzlab/Col-CEN/main/v1.2/Col-CEN_v1.2_genes.araport11.gff3.gz'
    ref_fasta           = 'http://raw.githubusercontent.com/schatzlab/Col-CEN/main/v1.2/Col-CEN_v1.2.fasta.gz'
    quast               = true
    busco               = true
    jellyfish           = true
    use_ref             = true
    shortread_trim      = true
    busco_lineage       = "brassicales_odb12"
}
