/* -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 */

process {
  withName: ALIGN {
	cpus = {32 * task.attempt }
	memory = { 192.GB * task.attempt }
  	time = { 12.h * task.attempt }
  }
  withName: ALIGN_TO_BAM {
	cpus = {32 * task.attempt }
	memory = { 192.GB * task.attempt }
  	time = { 12.h * task.attempt }
  }

  withName: BAM_SORT_SAMTOOLS {
	cpus = {1 * task.attempt }
	memory = { 1.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: BAM_SORT_UNMAPPED_SAMTOOLS {
	cpus = {1 * task.attempt }
	memory = { 1.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
