/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
  clusterOptions = '--clusters=biohpc_gen'
}

charliecloud {
  enabled = true
  writeFake = false
}

params {
	busoc_db = "/dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/software/busco_db"
}

process {
  withName: 'COUNT' {
	cpus = { 8 * task.attempt }
	memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: 'HISTO|STATS|DUMP' {
	cpus = { 2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 20.min * task.attempt }
  }
  withName: 'GENOMESCOPE' {
	cpus = { 2 * task.attempt }
	memory = { 8.GB * task.attempt }
  	time = { 20.min * task.attempt }
  }
  withName: COLLECT_READS {
	cpus = { 4 * task.attempt }
	memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: PORECHOP {
	cpus = { 16 }
	memory = { 12.GB * task.attempt }
  	time = { 4.h * task.attempt}
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  }

  withName: NANOQ {
	cpus = {16 * task.attempt }
	memory = { 32.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: 'ALIGN.*' {
	cpus = { 16 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }
  withName: TRIMGALORE {
	cpus = { 12 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  withName: SAMTOOLS_SORT {
	cpus = { 2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  
  withName: SAMTOOLS_INDEX {
	cpus = { 2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: SAMTOOLS_IDXSTATS {
	cpus = { 2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: FLYE {
    cpus = { 32 * (1 + (task.attempt - 1 ) * 0.5) }
	memory = { 48.GB * (1 + (task.attempt - 1 ) * 0.5) }
  	time = { 12.h * task.attempt }
	errorStrategy = { (task.attempt < 3) ? 'retry' : 'finish' }
  }

  withName: 'HIFIASM' {
	cpus = { 16 * (1 + (task.attempt - 1 ) * 0.5) }
	memory = { 32.GB * (1 + (task.attempt - 1 ) * 0.5) }
  	time = { 8.h * task.attempt }
	errorStrategy = { (task.attempt < 3) ? 'retry' : 'finish' }
  }

    withName: 'HIFIASM_UL' {
	cpus = { 24 * (1 + (task.attempt - 1 ) * 0.5) }
	memory = { 32.GB * (1 + (task.attempt - 1 ) * 0.5) }
  	time = { 12.h * task.attempt }
	errorStrategy = { (task.attempt < 3) ? 'retry' : 'finish' }
  }

  withName: QUAST {
	cpus = { 8 * task.attempt }
	memory = { 24.GB * task.attempt }
  	time = { 4.h * task.attempt }
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  } 
  
  withName: 'KMER_.*|.*_KQV' {
	cpus = { 8 * task.attempt }
	memory = { 12.GB * task.attempt }
  	time = { 2.h * task.attempt }
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  } 

  withName: BUSCO {
	cpus = { 12 }
	memory = { 24.GB * task.attempt }
  	time = { 2.h * task.attempt}
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  }

  withName: PILON {
	cpus = { 24 }
	memory = { 48.GB }
  	time = { 18.h * task.attempt }
  }

  withName: MEDAKA {
	cpus = { 24 }
	memory = { 48.GB * task.attempt }
  	time = { 6.h * task.attempt }
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  }

  withName: RAGTAG_SCAFFOLD {
	cpus = { 16 }
	memory = { 24.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: LINKS {
	cpus = { 8 }
	memory = { 64.GB * task.attempt }
  	time = { 8.h * task.attempt }
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  }
  
  withName: LONGSTITCH {
	cpus = { 8 }
	memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
	errorStrategy = { (task.attempt < 4) ? 'retry' : 'ignore' }
  }

  withName: LIFTOFF {
	cpus = { 8 }
	memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  
  maxRetries = 5
}

