docker.enabled = true

process {
    withName: NANOQ {
        container = "quay.io/biocontainers/nanoq:0.10.0--h031d066_2"
    }
    withName: 'COUNT|DUMP|HISTO|STATS' {
        container = "quay.io/biocontainers/kmer-jellyfish:2.3.1--h4ac6f70_0"
    }
    withName: 'GENOMESCOPE' {
        container = "r-base:4.3.3"
    }
    withName: PORECHOP {
        container = "quay.io/schandry/porechop-pigz:latest"
    }
    withName: 'ALIGN.*' {
        container = "quay.io/schandry/samtools-minimap2:latest"
    }
    withName: SAMTOOLS_SORT {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: SAMTOOLS_INDEX {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: SAMTOOLS_IDXSTATS {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: FLYE {
        container = "quay.io/biocontainers/flye:2.9--py39h6935b12_1"
    }
    withName: HIFIASM {
        container = "quay.io/biocontainers/hifiasm:0.19.9--h43eeafb_0"
    }
    withName: QUAST {
        container = "quay.io/biocontainers/quast:5.2.0--py39pl5321h2add14b_1"
    }
    withName: 'TRIMGALORE' {
        container = "quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
    }
    withName: 'KMER_.*|.*_KQV' {
        container = "quay.io/biocontainers/yak:0.1--he4a0461_5"
    }
    withName: BUSCO {
        container = "quay.io/biocontainers/busco:5.5.0--pyhdfd78af_0"
    }
    withName: PILON {
        container = "quay.io/biocontainers/pilon:1.24--hdfd78af_0"
    }
    withName: MEDAKA {
        container = "quay.io/biocontainers/medaka:1.11.1--py310h87e71ce_0"
    }
    withName: RAGTAG_SCAFFOLD {
        container = "quay.io/biocontainers/ragtag:2.1.0--pyhb7b1952_0"
    }
    withName: LINKS {
        container = "quay.io/biocontainers/links:2.0.1--h9f5acd7_3"
    }
    withName: LONGSTITCH {
        container = "quay.io/biocontainers/longstitch:1.0.5--hdfd78af_0"
    }
    withName: LIFTOFF {
        container = "quay.io/biocontainers/liftoff:1.6.3--pyhdfd78af_0"
    }
}