singularity.enabled = true

process {
    withName: NANOQ {
        container = "https://depot.galaxyproject.org/singularity/nanoq:0.10.0--h031d066_2"
    }
    withName: 'COUNT|DUMP|HISTO|STATS' {
        container = "https://depot.galaxyproject.org/singularity/kmer-jellyfish:2.3.1--h4ac6f70_0"
    }
    withName: 'GENOMESCOPE' {
        container = "r-base:4.3.3"
    }
    withName: PORECHOP {
        container = "quay.io/schandry/porechop-pigz:latest"
    }
    withName: 'ALIGN.*' {
        container = "https://depot.galaxyproject.org/singularity/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3a70f8bc7e17b723591f6132418640cfdbc88246-0"
    }
    withName: 'SAMTOOLS.*' {
        container = "https://depot.galaxyproject.org/singularity/samtools:1.15.1--h1170115_0"
    }
    withName: FLYE {
        container = "https://depot.galaxyproject.org/singularity/flye:2.9--py39h6935b12_1"
    }
    withName: QUAST {
        container = "https://depot.galaxyproject.org/singularity/quast:5.2.0--py39pl5321h2add14b_1"
    }
    withName: BUSCO {
        container = "https://depot.galaxyproject.org/singularity/busco:5.5.0--pyhdfd78af_0"
    }
    withName: 'KMER_.*|.*_KQV' {
        container = "https://depot.galaxyproject.org/singularity/yak:0.1--he4a0461_5"
    }
    withName: PILON {
        container = "https://depot.galaxyproject.org/singularity/pilon:1.24--hdfd78af_0"
    }
    withName: MEDAKA {
        container = "https://depot.galaxyproject.org/singularity/medaka:1.11.1--py310h87e71ce_0"
    }
    withName: RAGTAG_SCAFFOLD {
        container = "https://depot.galaxyproject.org/singularity/ragtag:2.1.0--pyhb7b1952_0"
    }
    withName: LINKS {
        container = "https://depot.galaxyproject.org/singularity/links:2.0.1--h9f5acd7_3"
    }
    withName: LONGSTITCH {
        container = "https://depot.galaxyproject.org/singularity/longstitch:1.0.5--hdfd78af_0"
    }
    withName: LIFTOFF {
        container = "https://depot.galaxyproject.org/singularity/liftoff:1.6.3--pyhdfd78af_0"
    }
}