process {
    beforeScript = 'module use /dss/dsslegfs02/pn73se/pn73se-dss-0000/spack/modules/x86_avx2/linux*'

    withName: ALIGN {
        module = 'minimap2/2.14-gcc8'
    }

    withName: SORT {
        module = 'samtools/1.10-gcc8'
    }

    withName: ALIGNSORT {
        module = 'minimap2/2.14-gcc8:samtools/1.10-gcc8'
    }

}