process {
    withName: COUNT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/count/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: DUMP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/dump/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: STATS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/stats/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: HISTO {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/histo/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: GENOMESCOPE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/genomescope/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: GENOMESCOPE2 {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/genomescope/" },
            mode: params.publish_dir_mode
        ]
        ext.args = {"-k $meta.jellyfish_k -l $meta.qc_read_mean"}
    }
}
