process {
    withName: COUNT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/count/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: DUMP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/dump/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: STATS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/stats/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HISTO {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/jellyfish/histo/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GENOMESCOPE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/genomescope/genomescope/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
