process {
    withName: '.*:ASSEMBLE:.*:MERQURY' {
        ext.prefix = { "${meta.id}_assembly" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*PILON:.*:MERQURY' {
        ext.prefix = { "${meta.id}_pilon" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*MEDAKA:.*:MERQURY' {
        ext.prefix = { "${meta.id}_medaka" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*LINKS:.*:MERQURY' {
        ext.prefix = { "${meta.id}_links" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*LONGSTITCH:.*:MERQURY' {
        ext.prefix = { "${meta.id}_longstitch" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*:SCAFFOLD:HIC:.*:MERQURY' {
        ext.prefix = { "${meta.id}_yahs" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
    // avoid catching ragtag from ont_on_hifi assembly
    withName: '.*:SCAFFOLD:.*RAGTAG:.*:MERQURY' {
        ext.prefix = { "${meta.id}_ragtag" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/merqury/" },
            mode: params.publish_dir_mode
        ]
    }
}
