process {
    withName: MERYL_COUNT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/meryl/count/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MERYL_UNIONSUM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/meryl/unionsum/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
