process {
    withName: '.*:ASSEMBLE:.*:QUAST' {
        ext.prefix = { "${meta.id}_assembly" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*PILON:.*:QUAST' {
        ext.prefix = { "${meta.id}_pilon" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*MEDAKA:.*:QUAST' {
        ext.prefix = { "${meta.id}_medaka" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*LINKS:.*:QUAST' {
        ext.prefix = { "${meta.id}_links" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*LONGSTITCH:.*:QUAST' {
        ext.prefix = { "${meta.id}_longstitch" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: '.*SCAFFOLD:HIC.*:QUAST' {
        ext.prefix = { "${meta.id}_yahs" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST/" },
            mode: params.publish_dir_mode
        ]
    }
    // avoid catching ragtag from ont_on_hifi assembly
    withName: '.*:SCAFFOLD:.*RAGTAG:.*:QUAST' {
        ext.prefix = { "${meta.id}_ragtag" }
        ext.args = {
            [
                    meta.ref_map_bam ? "--ref-bam ${meta.ref_map_bam}" : '',
                    meta.assembly_map_bam ? "--bam ${meta.assembly_map_bam}": '',
                    '--glimmer',
                    '--large'
            ]
            .join(" ")
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/QC/QUAST/" },
            mode: params.publish_dir_mode
        ]
    }
}
